.EmptymainDiv{
    margin-top: 10rem;
    height: 100vh;
}
.emptyImage{
    margin-top: 5rem;
}
.emptyText{
    text-align: center;
}
.emptyPara{
    text-align: center;
    font-weight: 500;
    color: brown;
}
.emptyButton{
   margin: auto;
   display: block;
    color: #ffffff;
    border-radius: 10px;
    width: 30%;
    border: none;
    background: linear-gradient(to left, #ff2020 50%, rgb(57, 209, 57) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    box-shadow: red 0px 1px 25px;
    font-weight: bold;
}
.emptyButton:hover{
    background-position: left;
    box-shadow: rgb(57, 209, 57) 0px 1px 25px;
}
.emptycartImages{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.emptycartImages:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}