.History{
    margin-top: 8rem;
    height: 100vh;
}
.tableHistory{
    width: 90%;
    margin: auto;
    background: rgb(243, 78, 78);
    color: #ffffff;
}
.historyImages{
    width: 175px;
    height: 175px;
}