.form-style input{
height:50px;
border-radius:0;
border:1px solid #ebebeb;	
}
.inputBox{
    width: 85%;
    height: 50px;
    border: none;
    }
.sideline {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
text-align: center;
color:#ccc;
}
button{
height:50px;	
}
    .sideline:before,
    .sideline:after {
        content: '';
        border-top: 1px solid #ebebeb;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }
    
    .sideline:after {
        margin: 0 0 0 20px;
    }
    .signup-text{
        color: #000000;
        text-decoration: none;
    }
    .signup-text:hover{
        color: blue;
    }
    .errorMesg{
        font-size: 14px;
    color: red;
    }
    .error-msg{
        font-size: 20px;
        height: 35px;
    }
    .logoreg{
        height: 750px;
        width: 100%;
    }
      .Toastify__toast-theme--colored.Toastify__toast--error {
        color: white;
        background-color: red;
      }