  .navbar {
    width: 100%;
    align-items: center;
    background: #ffffff;
  }
  
  .login-icon{
      font-size: 35px !important;
  }
  .hide {
    display: none;
  }
      
  .login-icon:hover + .hide {
    display: block;
    margin-top: 3rem;
    margin-left: -2rem;
    color: red;
  }
  .login-div{
    float: right;
    margin: 10px 40px;
    display: flex;
  }
  .logoImage{
      margin: 15px 0px 0px 100px;
  }
  .navbar-header{
    border: 1px solid #ddd;
    height: 100px;
    position: fixed;
    top:0; left:0;
    width: 100%; 
    background-color: #ffffff;
    z-index: 101;
  }
  .cartLength{
    background: red;
    height: 26px;
    width: 26px;
    color: white;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  .carticon{
    margin-left: -3px;
  }
  .logoutbtn{
    height: 30px;
    width: 85% !important;
    margin: auto;
    color: #141517 ;
    font-weight: bold;
  }
  .logoutbtn:hover{
    color: red;
  }
  .store{
    font-size: 30px;
    margin-left: 16px;
    color: #000000;
    font-weight: bold;
    margin-top: 16px;
  }
  .store:hover{
    color:greenyellow ;
  }
  .dropNav{
    margin-left: -35px;
    margin-top: 5px;
    color: red;
  }
  .colorChange{
    width: 52px;
    height: 35px;
    margin-right: 50px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    float: right;
    // animation: movebtn 3s ease-in-out infinite;
    // transition: all 0.5s ease-in-out;
    border-radius: 50%;
    background: linear-gradient(to left, #ff2020 50%, rgb(57, 209, 57) 50%) right;
    background-size: 200%;
}
.colorChange:hover{
  background-position: left;
}
.hamberIcon{
  display: none;
}
@media only screen and (max-width: 1199px) {
  .hoverColor{
    display: none;
  }
  .hamberIcon{
    font-size: 35px;
    display: block;
    margin: auto;
  }
  .navbar {
    position: relative;
  }

  .nav-menu {
    flex-direction: column !important;
    width: 100% !important;
    height: 100vh;
    position: absolute !important;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    display: none !important;
  }

  .nav-menu.active {
    background: red !important;
    left: -14rem !important;
    opacity: 1;
    display: block !important;
    transition: all 0.5s ease;
    z-index: 1 !important;
    margin:revert;
    width: 60vw !important;
  }

  .nav-links {
    text-align: center !important;
    width: 100% !important;
    display: table !important;
    padding: 2rem;
  }

  .nav-links:hover {
    background-color: #7577fa;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    margin: -5px -18px;
  }

  .fa-times {
    color: rgb(14, 13, 13);
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #6568f4;
    transition: 250ms;
  }

}

.menu-icon {
  display: none;
}


.nav-menu {
  width: 100% !important;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.nav-menu>a:focus{
  background-color: rgb(246, 27, 27);
  height: 30px;
  color: aliceblue !important;
  text-decoration: none;
  width: 10%;
  text-align: center;
  border-radius: 10px;
  padding: 2px;
    }

    .nav-menu>a{
      font-size: 17px;
      font-family: "Josefin Sans",sans-serif;
      color: #141517;
      font-weight: 600;
      text-decoration: none;
    }
    .nav-menu>a:hover{
      color: red;
        }
        @media only screen and (max-width: 320px) {
          .login-div{
            margin: 10px 80px 0px 0px !important;
          }
        }
        .dropBoxwidth{
          width: 10vw;
        }
        @media only screen and (max-width: 1199px) {
          .historyNone{
            display: none;
          }
        }